.hero-section {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://images.unsplash.com/flagged/photo-1566755395267-86735b23d097?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

a {
    color: rgba(255, 255, 255, 0.5);
}

a:hover {
    color: var(--bckg-color)
}

#span-hero {
    font-size: 28px;
}

