/* font wedding rsvp web */

.h1-NB, .h2-NB{
    font-family: var(--font-title-wedding);
    color: var();
    font-weight: lighter;
    line-height: 80%;
}

.h1-NB { font-size: 96px; }

.h2-NB { font-size: 52px; }

.h3-NB, .h4-NB, .paragraph-NB, .small-text-NB, .xsmall-text-NB {
    font-family: var(--font-body-wedding) ;
    color: var();
}

.h3-NB { font-weight: 200; font-size: 32px; }

.h4-NB { font-weight: 200; font-size: 24px; }

.paragraph-NB { font-weight: 200; font-size: 16px;}

.small-text-NB { font-weight: 200; font-size: 14px; }


/* font wedding rsvp web */

.button-NB {
    border-radius: 4px; 
    font-family: var(--font-body-wedding);
    font-size: 16px;
    padding: 10px 12px;
    margin: 1rem 0;
    background-color: var(--color-1-wedding);
    color: var(--bckg-color);
    border: 1.25px solid var(--color-1-wedding);
    text-decoration: none;
}

.button-NB:hover {
    outline: none;
    color: var(--bckg-color);
    border: 1.25px solid transparent;
    background-color: var(--color-2-wedding);
}


#title-wedding {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 100%;

}

.input-NB {
    color: var(--color-2-wedding);
}

.input-NB:focus {
    border: 1px solid var(--color-1-wedding);
}

.checkbox-NB {
    border: 1px solid var(--color-2-wedding);
}

.inputW-edit {
    box-sizing: border-box;
    background: transparent;
    outline: none;
    border: none;
    resize: none;
    padding: 0.5rem;
    height: auto;
    width: auto;
    max-width: 500px;
    line-height: auto;
    color: var(--bckg-color-wedding);
    border: 1px dashed #ffffff3b;
    cursor: pointer;
}

.inputW-place,
.inputW-address {
    text-align: center;
}

#inputW-hero-date {
    margin: auto;
    text-align: center;

}

.inputW-location-date {
    width: 100%;
    max-width: 65px;
}

.inputW-edit:focus,
.inputW-edit:hover {
    border: 1px solid var(--color-1-wedding);
}

.brideName-input {
    text-align: right;
}

.input-date {
    text-align: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none !important;
    -webkit-appearance: none !important;
}

input[type="date"] {
    background-image: none !important;
}

#countdown-section-NB {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 120px auto;
    height: 40vh;
    color: var(--color-2-wedding);
}


.countdown-box-NB {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 95px;
    padding: 2rem 0.25rem;
    justify-content: center;
    row-gap: 4px;
    border-radius: 4px;
    background-color: var(--color-1-wedding);
    color: var(--bckg-color);
}

#location-section-w {
    display: flex;
    width: 100%;
    height: 60vh;
    column-gap: 50px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-2-wedding);
    color: var(--bckg-color-wedding);

}

.divider-line-NB {
    border-left: 1px solid var(--color-1-wedding);
    padding-left: 50px;
}

#location-section-w h2 {
    color: var(--bckg-color-wedding);
}

.button-wedding {
    background-color: var(--color-1-wedding);
}

.button-wedding:hover {
    background-color: var(--color-2-wedding);
}

.container-dateW {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 0.3rem;
}



/* form */

#form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--color-2-wedding);
}

#form-section label {
    font-family: var(--font-body-wedding);
}

.title-field-NB {
    font-weight: 400;
}

.option-attending label {
    display: flex;
    justify-content: center;
    margin-bottom: 0.25rem;
    width: 100%;
    border: 1px solid #e7dfd3;
    border-radius: 4px;
    padding: 10px 12px;
    background-color: white;
    font-weight: 400;
    cursor: pointer;

}

#container-options-attending {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    
}

.option-attending{
    width: 50%;
    margin: 0.25rem;
}

.option-attending input[type="radio"] {
    display: none;
}

.option-attending:hover label, .option-attending input[type="radio"]:checked + label {
    color: var(--bckg-color-wedding);
    border: 1px solid var(--color-1-wedding);
    background-color: var(--color-1-wedding);
}

#container-options-dietary{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 0.25rem;
}

.option-dietary {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    margin: 0.5rem 0;
}

input[type="checkbox"]{
    width: 16px;
    height: 16px;
    margin: 0;
}

input[type="checkbox"]:checked{
    background-color: var(--color-1-wedding)
}

#textareaGuest {
    display: flex;
    flex-direction: column;
}

#guestMessage {
    resize: none;
    width: 100%;
    height: 80px;
    padding: 8px;
    border: 1px solid #e7dfd3;
    border-radius: 4px;
    outline: none;
    font-family: var(--paragraph-font-wedding);

    color: var(--color-2-wedding);
}

#guestMessage:focus {
    outline: none;
    border: 1px solid var(--color-1-wedding);
}

/* Panel de diseño */

#panelDiseno {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--bckg-color-wedding);
    width: 200px;
    height: 94vh;
    padding: 24px;
    row-gap: 2rem;
    border-radius: 16px;
    box-shadow: -2px 0 12px rgba(0,0,0,0.1);
    z-index: 100;

}

/* Preview tipos */
#h4-clasico, #h4-artesanal, #h4-elegante {
    font-weight: lighter;
    line-height: 0.75rem;
    color: black;
}

#p-clasico, #p-artesanal, #p-elegante {
    color: grey;
}

#h4-clasico {
    font-family: 'Luxurious Script';
    font-size: 50px;
}

#p-clasico {
    font-family: 'Space Grotesk';
    font-size: 14px;

}

#h4-artesanal {
    font-family: 'Cedarville Cursive';
    font-size: 30px;
}

#p-artesanal {
    font-family: 'Red Hat Mono';
    font-size: 14px;
}

#h4-elegante {
    font-family: 'Cinzel';
    font-size: 25px;
}

#p-elegante {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 14px;
}

/* */

.option-container {
    display: flex;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    margin: 0.25rem 0;
    transition: border-color 0.2s ease;
}

.font-option {
    padding: 1.5rem 1rem 0.1rem 1rem;
}

.colors-option {
    padding: 0.5rem;
}

.option-container:hover {
    border-color: black;
}

.option-container.seleccionado {
    border: 1px solid black;
    background-color: #faf9f7;
}

.fonts-container {
    display: flex;
    flex-direction: column;
}

.color-preview {
    width: 100px;
    height: 40px;
}


.button-panel{
    border: 1px solid black;
    background-color: black;
}

.button-panel:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
}