/* Hero */
.contenido-hero {
    display: flex;
    flex-direction: column;
    height:60%;
    width: 100%;
    max-width: 800px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}

.title-hero {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    height: 220px;
    justify-content: space-between;
}

#subtitle-hero {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

#icon-down-hero {
    font-size: 24px;
}

/* countdown */

#countdown-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 120px auto;
}

#countdown-row {
    display: flex;
    width: 100%;
    max-width: 600px;
    flex-direction: row;
    column-gap: 0.5rem;
    padding: 0 4%;
}

.countdown-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 95px;
    padding: 2rem 0.25rem;
    justify-content: center;
    row-gap: 4px;
    border-radius: 4px;
    background-color: var(--secondary-color);
}

/* location */

#location-section {
    column-gap: 50px;
    justify-content: center;
    background-color: var(--secondary-color);
}

.location-column {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.divider-line {
    border-left: 1px solid var(--primary-color);
    padding-left: 50px;
}