.hero-section {
    width: 100%;
    height: 100vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--bckg-color)
}

.content-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    max-width: 800px;
    margin: 6rem auto 0 auto;
    text-align: center;
}

.text-hero {
    margin: auto;
    width: 66.66%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5% 4%;
    margin: auto;
}

.logo {
    font-size: 1.35rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    margin: 0.5rem;

}

a:hover {
    color: var(--secondary-color);
}

.buttons-hero {
    margin: 3rem 0;
}

button, .button {
    font-family: var(--parapgraph-font);
    padding: 10px 12px;
    background-color: var(--primary-color);
    color: var(--bckg-color);
    border: 1.5px solid var(--primary-color);
    border-radius: 4px;
    margin: 0.25rem;
}

.alt-button {
    background-color: rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color:rgba(255, 255, 255, 0.5) ;
    color: var(--primary-color);
}