.hero-section {
    width: 100%;
    height: 100vh;
    background: center / cover no-repeat;
    color: var(--bckg-color)
}

header, .navBar, .field-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header {
    justify-content: space-between;
    padding: 1.5% 4%;
    margin: auto;
}

.logo-link {
    text-decoration: none;
    color: var(--primary-color);
}

.navBar { gap: 1rem;}

/* start assets form */

.basic-form, .field-form { margin: 1rem 0; }

input, .button {
    border-radius: 4px; 
    font-family: var(--sansserif-font);
    font-size: 16px;
    padding: 10px 12px;
}

input {
    border: 1.25px solid var(--secondary-color); 
    width: 100%;
    color: var(--primary-color);
    outline: none;
}

input:focus {
    border: 1.25px solid var(--primary-color);
    outline: none;
}

.field-checkbox { gap: 0.5rem; margin: 1rem 0; }

.checkbox { width: 16px; height: 16px; }

.button {
    margin: 1rem 0;
    background-color: var(--primary-color);
    color: var(--bckg-color);
    border: 1.25px solid var(--primary-color);
    text-decoration: none;
}

.alt-button { background-color: transparent }

.button:hover {
    border: 1.25px solid transparent;
    background-color: rgba(0, 0, 0, 0.75);
}

.internal-link {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 400;
}

/* end assets form */