.hero-background {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://images.unsplash.com/flagged/photo-1566755395267-86735b23d097?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center / cover no-repeat;

}

.hero-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    max-height: 1080px;

    align-items: center;
    justify-content: flex-start;
    color: var(--lighter-color);
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 2% 4%;
    margin: auto;
}

.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.navBar a:hover {
    color: #f5f1eb88;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    height: 80%;
    padding: 8% 4%;
    gap: 30%;
    text-align: center;
}

.section, .section-row {
    display: flex;
    max-width: 1200px;
    width: 100%;
    padding: 2rem 4%;
    margin: auto;
}

.section {
    flex-direction: column;
}

.section-row {
    flex-direction: row;
}

.internal-link {
    color: var(--olive-color);
    font-size: var(--font-sans-small);
    text-decoration: underline;
}

.container-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
    gap: 0.5rem;
}

.button {
    color: white;
    padding: 8px 12px;
    border: 1px solid var(--olive-color);
    border-radius: 4px;
    background-color: var(--olive-color);
}

.button-alt {
    background-color: transparent;
}

.button-alt2 {
    color: var(--dark-olive-color);
    background-color: transparent;
}

.button-small {
    font-size: var(--font-sans-small);
    padding: 4px 8px;
}

.button:hover {
    color: white;
    border: 1px solid var(--dark-olive-color);
    background-color: var(--dark-olive-color);
}

/* FORMULARIO ASSETS */

.form,
.field-form {
    display: flex;
    flex-direction: column;
}

.form {
    gap:0.5rem;
}

.field-form input:focus {
    border: 1px solid var(--olive-color);
}

.field-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    margin: 0.5rem 0;
}

.feedback-success {
    font-size: var(--font-sans-small);
    color: green;
}

.feedback-error {
    font-size: var(--font-sans-small);
    color: rgb(180, 51, 51);
}

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-container .tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    
    top: 125%; 
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--dark-olive-color);
    color: var(--lighter-color);
    font-size: var(--font-sans-xsmall);
    white-space: nowrap;
    padding: 6px 10px;
    border-radius: 4px;
    
    opacity: 0;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.tooltip-container .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--dark-olive-color) transparent;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}